name: tests

on:
  - push
  - pull_request

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: 'Windows', os: windows-latest, python: '3.12' }
          - { name: 'macOS', os: macos-latest, python: '3.12' }
          - { name: 'Linux', os: ubuntu-latest, python: '3.12' }
          - { name: 'Linux', os: ubuntu-latest, python: '3.11' }
          - { name: 'Linux', os: ubuntu-latest, python: '3.10' }

    steps:
      - uses: actions/checkout@v4
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python }}
          activate-environment: otgraph
          environment-file: conda_env.yaml
          channel-priority: strict

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda activate otgraph
          pip install --no-deps -e .

      - name: Run tests
        shell: bash -l {0}
        run: |
          conda activate otgraph
          pytest
